{% comment %}

Default document metadata

{% endcomment %}

<!--
  ~ Copyright © 2013-2018 Metreeca srl. All rights reserved.
  ~
  ~ This file is part of Metreeca.
  ~
  ~ Metreeca is free software: you can redistribute it and/or modify it under the terms
  ~ of the GNU Affero General Public License as published by the Free Software Foundation,
  ~ either version 3 of the License, or(at your option) any later version.
  ~
  ~ Metreeca is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
  ~ without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with Metreeca.
  ~ If not, see <http://www.gnu.org/licenses/>.
  -->

{% capture title %}{{ page.title | default: page.caption }}{% endcapture %}


<title>{% if title %}{{ title }} | {% endif %}Metreeca Docs</title>

<meta name="description" content="{{ page.excerpt | strip_html }}">

<meta name="copyright" content="© 2013-{{ 'now' | date: '%Y' }} Metreeca srl"/>

<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<link rel="shortcut icon" href="/_/icons/metreeca.ico"/>
<link rel="stylesheet" type="text/css" href="/_/default.css"/>
<link rel="stylesheet" type="text/css" href="/_/rouge/github.css"/>
