<!DOCTYPE html>

<!-- Copyright © 2013-2018 Metreeca srl. All Rights Reserved. -->

<html>

    <head>

        {% include head.html %}

        <!-- hidden document links for integrity tests -->

        {% for p in site.pages %}{% if p.module %}

        <link rel="section" href="{{ p.path | remove: 'index.md' | remove: '.md' }}">

        {% endif %}{% endfor %}

    </head>

    <body>

        <input id="toggle" type="checkbox">

        <nav>

            {% include side.html %}

            <div><select class="versions"></select></div>

            <dl>

                <dt>Modules</dt>
                <dd class="modules"></dd>

                <dt>Tags</dt>
                <dd class="tags"></dd>

            </dl>

        </nav>

        {% include main.html %}

        <script type="text/javascript">// @formatter:off // gather platform metadata

            {% include latest.liquid %}

            window.metreeca={

            	latest: "{{ latest }}",

                 documents: [{% for p in site.pages %}
                            {% unless p.path contains "/_" %} // only pages not marked as drafts
                            {% if p.module %} // only pages defining an including module
                {
                    path: "{{ p.path | remove: "index.md" | remove: ".md" }}",
                    title : "{{ p.title | remove: 'Metreeca ' }}",
                    module : "{{ p.module | remove: 'Metreeca ' }}",
                    version : "{{ p.version }}",
                    tags: [{% for t in p.tags %}"{{ t }}",{% endfor %}]
                }, {% endif %}{% endunless %}{% endfor %}]

            };

            // @formatter:on </script>

        <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script type="text/javascript" src="/_/index.js"></script>

    </body>

</html>
