<!DOCTYPE html>

<!--
  ~ Copyright © 2013-2018 Metreeca srl. All rights reserved.
  ~
  ~ This file is part of Metreeca.
  ~
  ~ Metreeca is free software: you can redistribute it and/or modify it under the terms
  ~ of the GNU Affero General Public License as published by the Free Software Foundation,
  ~ either version 3 of the License, or(at your option) any later version.
  ~
  ~ Metreeca is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
  ~ without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with Metreeca.
  ~ If not, see <http://www.gnu.org/licenses/>.
  -->

<html>

    <head>

        {% include head.html %}

    </head>

    <body>

        {% include side.html %}

        {% include main.html %}

        <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.slim.min.js"></script>

        <script type="text/javascript">// @formatter:off

        $(function() {

        	// collect document metadata

        	let documents=[{% for p in site.pages %}{% if p.project == page.project and p.path != page.path %}{
                    path: "{{ p.path | remove: "index.md" | remove: ".md" }}",
                    title : "{{ p.title | remove: 'Metreeca ' }}",
                    caption : "{{ p.caption | remove: 'Metreeca ' }}",
                    project : "{{ p.project }}",
                    version : "{{ p.version }}"
                }, {% endif %}{% endfor %}];


        	// populate version selector

        	let versions=documents
                    .filter(function(document) { return document.project === "{{  page.project }}" })
                    .map(function(document) { return document.version } )
                    .sort()
                    .filter(function(item, index, array) { return !index || item !== array[index-1]; });

            $("nav > .versions").append($("<select>")

                    .append(versions.map(function(version) {
                        return $("<option>")
                                .prop("selected", version === "{{ page.version }}")
                                .attr("value", version)
                                .text("Version "+version)
                    }))

                   .on("change", function(e) {
                       document.location.replace("/modules/{{ page.project }}/"+e.target.value+"/")
                    }));


            // populate document index

            let version=documents.filter(function(document) {return document.version === "{{ page.version }}" });

         	let tutorials=version.filter(function(document) { return document.path.includes("/tutorials/")});
            let handbooks=version.filter(function(document) { return document.path.includes("/handbooks/")});
	        let howtos=version.filter(function(document) { return document.path.includes("/howtos/")});
         	let references=version.filter(function(document) { return document.path.includes("/references/")});


         	function links(documents) {
         		return documents
                        .sort(function (x, y) {return x.title.toUpperCase().localeCompare(y.title.toUpperCase())})
                        .map(function(document) {
                        	return $("<li>").append($("<a>").attr("href", "/"+document.path).text(document.title))
        	            })
            }

        	if( tutorials.length || handbooks.length || howtos.length || references.length) {
        		$('main > article').prepend($("<dl>")
                        .append(tutorials.length? [$("<dt>").text("Tutorials"), $("<dd>").append(links(tutorials))]: [])
                        .append(handbooks.length? [$("<dt>").text("Handbooks"), $("<dd>").append(links(handbooks))]: [])
                        .append(howtos.length? [$("<dt>").text("How-Tos"), $("<dd>").append(links(howtos))]: [])
                        .append(references.length? [$("<dt>").text("References"), $("<dd>").append(links(references))]: []));
            }

        });

            // @formatter:on </script>

    </body>

</html>
